{% extends 'customer/base.html' %}

{% load static %}

{% block css_href %}{% static 'users/css/login.css' %}{% endblock %}

{% block title %}WebBlog | Login{% endblock %}

{% block left_items_in_nav %}
    <a href="{% url 'customer:create_customer' %}">
        <button type="button" class="btn navs-button">Register</button>
    </a>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="card-container">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>Change Password</b></h5>
                        <form id="form" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name='old_password' id="old_password">
                                <label for="old_password">old password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="new_password" id="new_password"
                                       placeholder="Password">
                                <label for="new_password">new Password</label>
                            </div>
                            <div class="d-grid">
                                <button id="submit"  class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Change Password
                                </button>
                            </div>

                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_footer %}<h1>hello5</h1>{% endblock %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#submit").on('click', function () {
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/v1/cutomer-api/change-password/',
                    type: "POST",
                    dataType: 'json',
                    data: $("#form").serialize(),
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                })
            });
        });

    </script>
{% endblock %}