{% extends 'customer/base.html' %}

{% load static %}

{% block css_href %}{% static 'users/css/login.css' %}{% endblock %}

{% block title %}WebBlog | Login{% endblock %}

{% block left_items_in_nav %}
    <a href="{% url 'customer:create_customer' %}">
        <button type="button" class="btn navs-button">Register</button>
    </a>
    <a href="{% url 'order:order_history_latest' %}">
        <button type="button" class="btn navs-button">Latest orders</button>
    </a>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="card-container">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>orders</b></h5>
                        {% for order_history in customer_order_history %}
                            <div class="form-floating mb-3">
                               <p>{{ order_history.order }}</p>
                            <p>{{ order_history.order }}</p>
                            </div>
                        {% endfor %}

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block extra_footer %}<h1>hello5</h1>{% endblock %}
{% block js %}

{% endblock %}

